# Building Functions in Python

Say we have this function:

In [1]:
def riseToPower(base,exponent=2): # two argument names!!!
    ###
    result=1
    if exponent > 0:
        for time in range(1,exponent+1): # use 'exponent + 1'...!
            result=result*base
    ###
    return(result)

In [2]:
riseToPower(9)

81

In [3]:
riseToPower(9,3)

729

We can modify the function to allow for negative powers:

In [4]:
def riseToPowerPlus(base,exponent=2):
    ###
    result=1
    if exponent < 0:
        for time in range(1,(-exponent)+1):
            result=result*base
            result=1/result
    if exponent > 0:
        for time in range(1,exponent+1):
            result=result*base
    ###
    return(result)

In [5]:
riseToPowerPlus(9)

81

In [6]:
riseToPowerPlus(-9)

81

In [7]:
riseToPowerPlus(base=4,exponent=-1)

0.25

Now let's try a factors function:

In [8]:
def factors(number):
    factorsList=[] # empty list that will collect output
    
    for i in range(1, number + 1):
        #if the remainder of 'number'/'i' equals zero...
        if number % i == 0:
            # ...add 'i' to the list of factors!
            factorsList.append(i)

    return factorsList # returning  values in a list.
factors(20)

[1, 2, 4, 5, 10, 20]

Change the function ’factors’to reduce the amount of iterations in the for loop and still get the factors shown above.

In [9]:
def factors1(number):
    factorsList=[] # empty list that will collect output
    
    for i in range(1, int(number/2)+1):
        #if the remainder of 'number'/'i' equals zero...
        if number % i == 0:
            # ...add 'i' to the list of factors!
            factorsList.append(i)

    return (factorsList, number) # returning  values in a list.
factors1(20)

([1, 2, 4, 5, 10], 20)

Change your new function to allow negative values or zeros as input; your code should return a message if an invalid value was input.

In [11]:
def factors1(number):
    factorsList=[] # empty list that will collect output
    if number>0:
        for i in range(1, int(number/2)+1):
        #if the remainder of 'number'/'i' equals zero...
            if number % i == 0:
                # ...add 'i' to the list of factors!
                factorsList.append(i)
        return (factorsList, number)
    if number<0:
        print("invalid number input")
    return ("invalid") # returning  values in a list.
factors1(-10)

invalid number input

'invalid'

Change your newest function ‘factors’ to accept only positive integer values; your code should return a message if an invalid valid was input.

In [12]:
def factors2(number):
    factorslist=[]
    if number<0:
        return ("invalid number")
    if number>0:
        numberint=(int(number))
        if number==numberint:
            for i in range(1, int(number/2)+1):
                if number % i == 0:
                    factorslist.append(i)
            return (factorslist, number)
        if number!=numberint:
            return ("invalid number")

In [13]:
factors2(-5)

'invalid number'

In [14]:
factors2(1.3)

'invalid number'

Now, make your newest function 'resistant' to missing values of any kind.

In [1]:
def factors3(number):
    for i in number(0,number):
        if pd.isnull(number):
            print ("missing value")
        if pd.notnull(number):
            factorslist=[]
            if number<0:
                return ("invalid number")
            if number>0:
                numberint=(int(number))
                if number==numberint:
                    for i in number(1, (number/2)+1):
                        if number % i == 0:
                            factorslist.append(i)
                            return (factorslist, number)
                if number!=numberint:
                    return ("invalid number")

Note: The above function has a bit of trouble running!

Make a function that reads two lists and returns a data frame with those lists and extra columns with their sum, difference, multiplication and division.

In [17]:
import pandas as pd
def operations(alist,blist):
    # sum list
    sumlist=[x1+x2 for (x1,x2) in zip(alist,blist)]
    # sub list
    sublist=[x1-x2 for (x1,x2) in zip(alist,blist)]
    # mult list
    multlist=[x1*x2 for (x1,x2) in zip(alist,blist)]
    # div list
    divlist=[x1/x2 for (x1,x2) in zip(alist,blist)]
    answerzip={'number':alist,'number2':blist,'sum':sumlist,'subtract':sublist,'mult':multlist,'div':divlist}
    return pd.DataFrame(answerzip)
list1=[10,20,30,40,50]
list2=[20,40,60,80,100]
operations(list1,list2)

   div  mult  number  number2  subtract  sum
0  0.5   200      10       20       -10   30
1  0.5   800      20       40       -20   60
2  0.5  1800      30       60       -30   90
3  0.5  3200      40       80       -40  120
4  0.5  5000      50      100       -50  150

Say we have this function - Python thinks you want to repeat the list:

In [18]:
def double(x):
    return 2*x
myList=[1,2,3]
double(myList)

[1, 2, 3, 1, 2, 3]

How should you organize the input so that you get double() to work as it did with R vectors?

In [19]:
def double1(alist):
    alist=[2*x1 for (x1) in (alist)]
    return (alist)
double1(myList)

[2, 4, 6]

## Exploration

Use the function below with the the file 'dataforstrangeF.csv', find out which 
way of "applying the function" works, that is, report whether you can apply the
function directly to the data frame, to a subset of a data frame, to a column, 
or to a cell, and whether apply, applymap, or filter works with the function 
or not in the data set given.

In [20]:
# The Function:
def strangerF(x):
    answer=0
    change=True
    for value in x:
        if (change):
            answer+=value
        else:
            answer-=value
    
        change= not change 

    return answer

Import Data:

In [22]:
os.chdir("R:\Project\EPAR\Working Files\RA Working Folders\Melissa G\R and Python") # Provide the path here
import os
folderName='Data'
fileName='dataforstrangeF.csv'
fileExcel=os.path.join(folderName,fileName)
strangedata=pd.read_csv(fileExcel) 
strangedata

  vals1  vals2  vals3
0     A      9    100
1     B      1      1
2     C      1      1
3     A      1      1
4     B      1      1
5     C      1      1
6     A      1      1
7     B      1      1
8     C      1      1

In [24]:
strangerF(strangedata) # unsupported data type, can't be applied to frame
strangedata.apply(strangerF,axis=0) # unsupported data type
strangedata.apply(strangerF,axis=1) # unsupported data type
strangedata.applymap(strangerF) # can't be applied to every cell
strangedata.vals1.apply(strangerF) # data type error
strangedata.vals2.apply(strangerF) # can't iterate int object

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

In [25]:
strangerF(strangedata['vals2']) # works on column of integers

9

In [26]:
strangerF(strangedata['vals3']) # works on column of integers

100

In [27]:
strangerF(strangedata.loc[:,'vals2']) # works on column of integers

9

In [28]:
strangerF(strangedata.iloc[:,2]) # works

100

Creating function to test as a filter:

In [29]:
def integer(x):
    xint=(int(x))
    if x==xint:
        return(True)

In [30]:
list(filter(integer,strangedata))

ValueError: invalid literal for int() with base 10: 'vals1'